body {
    background-color: #eeedeb;
}

footer, article p,main,nav{
    border: solid 2px #3c0753;
}

nav,article p{
    padding: 20px;
}

nav,main{
    text-align: center;
}

nav a,article p,footer ul{
    display: inline-block;
}

nav a,article p{
    width: 33%;
}

h1 {
    text-transform: uppercase ;
    color: #3c0753;
    font-size: 50px;
}

nav a{
    padding: 5px 0;
}

a{
    border-radius: 40px;
    background-color: #d9a9db;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}


nav a:hover {
    background-color: black;
}

main {
    padding: 20px 50px;
    margin-top: 10px;
}

section img {
    border-radius: 20px;
}

article {
    background-image: url(../img/unsplash.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

article p {
    background-color: black;
    text-align: left;
}

footer {
    margin-top: 20px;
    /* text-align: center; */

}

footer ul {
    list-style: none;
    width: 30%;

}

footer ul li {
    margin-bottom: 20px;
}

footer ul li a {
    padding: 8px 12px;
}
