*{
    box-sizing: border-box;
}
body{
    width: 50%;
    margin: 0 auto;
    background-color: #ffe7e7;
}
h1{
    text-align: center;
}
caption{
    color: #6e2142;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
table{
    border: #6e2142 3px solid;
    width: 100%;
    /* margin-top: 50px; */
    padding: 30px;
    background-color: #c7c8cc;
    border-collapse: collapse;
    /* par défaut la bordur contient 2 traits, pour que le trair soit unique on utilise la propriete border collapse avec la valeur collapset*/
}
th, td {
    border: #6e2142 2px solid;
    padding: 10px;
    text-align: center;
}
thead, tfoot{
    background-color: #be7575;
}

#demoRowspan tr :first-child:not(:last-child){
    background-color: #be7575;
}
/* *****************************exercice 1************************** */
#exo1 td,#exo2 td{
    height: 50px;
    width: 50px;
}

.noir{
    background-color: black;
}
#exo1 td ,#exo2 td{
    border: none;
}

.rouge{
    background-color: red;
}

.borderT{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}