*{
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1,h2{
    color: azure;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color:#CBD285;
    padding: 3px;
}

nav a{
    color: #333;
    font-weight: bold;
}




