*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* **************** */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4mm ridge #ff3366;
}
.logo img {
    height: 150px;
    width: 150px;
}

nav{
    width: 100%;    
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

nav a{
    font-weight:bold;
    color: #ff3366;
}
/* **************************style pour main************ */

main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
h1{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    text-transform: uppercase;
}
aside{
    width: 30%;
}
/* selectionne l'enfant direct d'un elements celui qui est imbriqué directement apres son éléments référents */
main > div{
    width: 70%;
}
