@import url(reset.css);
/* lien vers google font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
    font-size: 62.5%;
    --color_black: #191919;
    --color_white: #fff;
    --font_lora: "lora", serif;
}
body{
    background-color: var(--color_black);
    color: var(--color_white);
    font-family: Arial, Helvetica, sans-serif;
}
a, h1{
    font-family: var(--font_lora);
}
h2{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}
header img{
    width: 60px;
}
header > a {/*j'aplique le flex pour centre mon image au sein de ma div*/
    display: flex;
    align-items: center;
}
header nav a{
    font-size: 1.6rem;
    color:gray;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 4rem;
    scale:1;
    transition:all linear 0.2s;
}
header nav a:hover{
    color:var(--color_white);
    scale: 1.2;
}